{% extends "layout.html" %}

{% block content %}

<h2>Disaster Response Pipeline</h2>
<h3>Project Repository</h3>
<a href = https://github.com/ismith1024/Udacity-Disaster-Response-Data-Pipeline>https://github.com/ismith1024/Udacity-Disaster-Response-Data-Pipeline</a>

<h3>Contact details</h3>

<address>
    Created by Ian Smith<br />
    <a href = https://github.com/ismith1024>https://github.com/ismith1024</a><br />
    <a href = https://www.linkedin.com/in/ismith1024>https://www.linkedin.com/in/ismith1024/</a><br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ismith1024@gmail.com">ismith1024@gmail.com</a><br />
    <!-- <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a> -->
</address>

{% endblock %}
