{% extends "layout.html" %}

{% block content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/static/scripts/content.js"></script>

<script>test();</script>

<div class="jumbotron">
    <h1>Disaster Response</h1>
    <p class="lead">Classify Disaster Messages from FigureEight.</p>
    <!-- <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
</div>

<!-- DOM Container -->
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Classify Message</a></li>
    <li><a data-toggle="tab" href="#menu1">Messages by Genre</a></li>
    <li><a data-toggle="tab" href="#menu2">Messages by Class</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h3>Classify Message</h3>
        <form>
            <div class="form-group">
              <label for="message_text">Message Text</label>
              <input type="email" class="form-control" id="message_text" placeholder="Enter message">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div id="classification_results_container">
    </div>

    <div id="menu1" class="tab-pane fade">
        <h3>Visualization 1</h3>
        <p>Messages by Genre</p>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Visualization 2</h3>
        <p>Messages by Class.</p>
    </div>
</div>



<!-- Bottom Row -->
<div class="row">
    <!-- <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div> -->
</div>

{% endblock %}
